.post-page {
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: #f4f4f4;
  color: #323232;
}

.button-container {
  display: flex;
}

.button {
  flex: 1;

  &:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

.loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 400px;
  border-right: 1px solid #e9e8e8;
}

.post-list {
  flex: 1;
  overflow-y: auto;
}

.post-detail-viewer-container {
  flex-grow: 1;
  background-color: #fff;
}

.paginator {
  padding: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .post-page {
    position: relative;
  }

  .post-list-container {
    max-width: none;
    min-width: unset;
    width: 100%;
  }

  .post-detail-viewer-container {
    position: absolute;
    left: 100%;
  }

  .show-detail-viewer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
